build/
.DS_Store
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
example.app/
example_automoc.cpp
moc_mainwindow.cpp
ui_mainwindow.h
cmake/
*~
all-tests
all-tests_automoc.cpp
libpartslice.a
partslice_automoc.cpp